[Unit]
Description=DNS Server
After=network.target

[Service]
EnvironmentFile=-/etc/default/godnsagent
ExecStart=/usr/bin/godnsagent
Restart=always
StartLimitInterval=0

[Install]
WantedBy=multi-user.target
